{% load static %}

<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Appapp &amp; Away Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<!--[if IE 7]>
		<link rel="stylesheet" href="css/ie7.css" type="text/css">
	<![endif]-->
</head>
<body>
	<div class="page">
		<div class="sidebar">
			<div id="logo">
				<a href="http://127.0.0.1:8000/"><img src="{% static 'main/images/logo.jpg' %}" alt="logo"></a>
			</div>
			<ul class="navigation">
				<li >
					<a href="/donga/">동아일보</a>
				</li>
				<li>
					<a href="/hankookilbo/">한국일보</a>
				</li>
				<li>
					<a href="/hankyung/">한국경제신문</a>
				</li>
				<li>
					<a href="/khan/">경향신문</a>
				</li>
				<li>
					<a href="/mk/">매일경제신문</a>
				</li>
				<li>
					<a href="/seoul/">서울신문</a>
			</ul>
			<form class="search" action="/donga/" method="POST">
				<input type="text" name = "search" id = "search" value="Search" onblur="this.value=!this.value?'Search':this.value;" onfocus="this.select()" onclick="this.value='';">
				<input type="submit" value="">
			</form>

			<div class="connect">
				<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
				<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
				<a href="http://freewebsitetemplates.com/go/youtube/" id="vimeo">vimeo</a>
			</div>
			<p>&#169; Copyright &#169; 2011. <br>
				Company name. All rights reserved</p>
		</div>
		<div class="content">
			<div class="article">
				<h2>Hi and welcome, visitor!</h2>
				<p>저의 첫번째 작업물 입니다. 많이 엉성하지만 잘 봐주셨으면 합니다.</p>
			</div>
			<div class="blog">
				<div class="date">
					<span>02-07</span>
					<span>2020</span>
				</div>
				<div>
					<h2>현재 인기검색어 순위</h2>
					<div>
						border
					</div>
				</div>
				<ul>
					<li>
						<div>
							<div>
								<a href="https://www.naver.com"><img src="{% static 'main/images/naver.jpg' %}" alt=""></a>
								<a href="https://datalab.naver.com/">인기검색어</a>
							</div>
							<div>
								<h3>네이버</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exrci tation ullamcorper suscipit lobortis nisl ut aliq</p>
							</div>
						</div>
					</li>
					<li>
						<div>
							<div>
								<a href="https://www.daum.net"><img src="{% static 'main/images/daum.jpg' %}" alt=""></a>
								<a href="http://rank.ezme.net/daum">인기검색어</a>
							</div>
							<div>
								<h3>다음</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exrci tation ullamcorper suscipit lobortis nisl ut aliq</p>
							</div>
						</div>
					</li>
					<li>
						<div>
							<div>
								<a href="http://www.google.co.kr"><img src="{% static 'main/images/google.jpg' %}" alt=""></a>
								<a href="http://rank.ezme.net/google">인기검색어</a>
							</div>
							<div>
								<h3>구글</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exrci tation ullamcorper suscipit lobortis nisl ut aliq</p>
								<a href="#">Read more>></a>
							</div>
						</div>
					</li>
				</ul>
				<div class="section">
					<a href="#">back to top</a>
					<a href="#">Show All</a>
					<div class="paging">
						<a href="#">Prev</a>
						<a href="#">Next</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
